*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit",Arial, Helvetica, sans-serif;
  /* color: aqua;
  background: #000; */
  
}


html, body {
  scroll-behavior: smooth;
  overflow-x: hidden; /* Hides horizontal scroll */
  margin: 0;
  padding: 0;
  width: 100%;
}